<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.testapk">


    <!--Declaring the required permissions-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET" />


    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.TestAPK">




        <activity android:name=".loading.LoadingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".login.LoginActivity"></activity>
        <activity android:name=".data.AuthorsActivity"></activity>
        <activity android:name=".register.RegulationsActivity"></activity>
        <activity android:name=".register.EmailVerificationActivity"></activity>
        <activity android:name=".roles.admin.MainAdminActivity"></activity>
        <activity android:name=".roles.admin.ShowProductsAdminActivity"></activity>
        <activity android:name=".roles.admin.ShowProductsToReviewAdminActivity"></activity>
        <activity android:name=".roles.admin.ShowUsersAdminActivity"></activity>
        <activity android:name=".roles.user.MainUserActivity"></activity>
        <activity android:name=".register.RegisterActivity"></activity>

    </application>

</manifest>